body{
margin: 0;
padding: 0;
background: rgb(38, 183, 246);
background: linear-gradient(90deg,rgb(75, 194, 241),0% rgb(50, 137, 147),35%,rgb(4, 72, 86)) 
}
.container{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
   display: flex;
   width: 100vw;
   height: 100vh;
   align-items: center;
   justify-content: center;
   font-size: 5rem;
}
.wrapper{
    border: 3px solid white;
    padding: 1rem;
}
.container span{
    margin-left: 10px;
}
#ampm{
    font-size: 3rem;
    align-items: end;
}
